:root {
  --accent-color: #2196f3;
  --main-font-color: #212121;
  --secondary-font-color: #757575;
  --background-color: #2f303a;
}
body {
  font-family: Roboto;
  font-size: 14px;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.nav-list-link {
  color: var(--main-font-color);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.nav-list-link:hover,
.contacts-list-link:hover {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  cursor: pointer;
}
.header-logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.contacts-list-link {
  color: var(--secondary-font-color);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(/img_1/background.png);
}
.section-hero-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
}
.section-hero-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background-color: var(--accent-color);
  width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.features-list {
  gap: 30px;
  display: flex;
}
.features-list-title {
  color: var(--main-font-color);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list-text {
  color: var(--secondary-font-color);
  font-style: normal;
  font-weight: 400;
  line-height: 2; /* 171.429% */
  letter-spacing: 0.42px;
}
.section-work-title {
  color: var(--main-font-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.work-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.section-team-title {
  color: var(--main-font-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-bottom: 50px;
}
.team-list {
  display: flex;
  gap: 30px;
}
.team-list-img {
  width: 270px;
}
.team-list-title {
  color: var(--main-font-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 30px;
  text-align: center;
}
.team-list-text {
  color: var(--secondary-font-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  padding-top: 10px;
  text-align: center;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-contacts-list-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  line-height: 2; /* 171.429% */
  letter-spacing: 0.42px;
}
.filters-list {
  display: flex;
  margin-top: 94px;
  justify-content: center;
  column-gap: 8px;
}
.filters-list-item {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
}
.filters-list-btn {
  height: 38px;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding-left: 23px;
  padding-right: 23px;
}
.filters-list-btn:hover {
  background-color: var(--accent-color);
  color: #fff;
}
.section-projects-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 94px;
}
.project-img {
  padding-bottom: 20px;
}
.project-item {
  margin-bottom: 30px;
}
.project-logo {
  color: var(--main-font-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
  padding-bottom: 4px;
}
.project-text {
  color: var(--secondary-font-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}
.footer {
  background-color: #2f303a;
}

.address-list-link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  padding-bottom: 30px;
}
.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-work {
  padding-bottom: 94px;
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.header-nav {
  display: flex;
  gap: 93px;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.contacts-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contacts-list-item {
  margin-top: 32px;
  padding-bottom: 32px;
}
.address {
  margin-top: 20px;
}
.features-list-item:nth-child(1)::before{
  content: '';
  background-image: url("./img_1/antena.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.features-list-item:nth-child(2)::before{
  content: '';
  background-image: url("/img_1/clock.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.features-list-item:nth-child(3)::before{
  content: '';
  background-image: url("/img_1/tablet.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.features-list-item:nth-child(4)::before{
  content: '';
  background-image: url("/img_1/astronavt.png");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
